$widthPage: 1220px;
$redDesign: #eb2f2e;

// Font Face Mixin start

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Font Face Mixin end
%fontText {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

%fontHeaderLink {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

%fontHeaderAdditional {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f1f1f1;
}

%fontHeaderCar {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

%fontHeaderCar__change {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #a2a2a2;
}

%fontNavigation {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

%fontSearch {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}

%fontSearchLink {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
}

%fontMainAdditional {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

%fontHeaderH1 {
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  color: #2f2f2f;
}

%fontHeaderH2 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: #2f2f2f;
}

%fontParagraph {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2f2f2f;
  line-height: 1.5;
}

%fontShowAll {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #3b3b3b;
}

%fontItemHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #010101;
}

%fontItemSubHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #010101;
}

%fontItemCodeText {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #494949;
  text-transform: uppercase;
}

%fontItemCodeNumber {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

%fontItemPrice {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #2f2f2f;
}

%fontItemBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #b6b6b6;
}

%fontFooterContacts {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

%fontFooterCopyright {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

%fontSearchResult {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

%fontBreadcrumbs {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2f2f2f;
}

%fontTextList {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #1b1b1b;
}

%fontTabs {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #8f8f8f;
}

%fontLoginPage {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}

%fontLoginBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #fff;
}

%fontItemInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #2f2f2f;
}

%fontHeaderH1__item {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  color: #2f2f2f;
}

%fontItemCode__item {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #2f2f2f;
}

%fontItemInfoH4 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #424242;
}

%fontItemPrice__item {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  color: #424242;
}

%fontItemRating {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #2f2f2f;
}

%fontItemRating__text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #2f2f2f;
}

%fontBtnBuy {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #fff;
}

%fontBookmarks {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #6d6d6d;
}



